<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio - cliente</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">
    <h1>Bienvenido cliente</h1>
    <div>
        <a th:href="@{/cuentas/new}" class="btn btn-primary d-block mb-2">Gestionar Cuentas</a>
        <a th:href="@{/cliente}" class="btn btn-primary d-block mb-2">Buscar cliente</a>
        <a th:href="@{/cuentas/consignacion}" class="btn btn-primary d-block mb-2">Consignar/retirar</a>
        <a th:href="@{/cuentas/transferencia}" class="btn btn-primary d-block mb-2">Transferir</a>
        <a th:href="@{/cuentas/rfc4}" class="btn btn-primary d-block mb-2">(RF4) Operaciones sobre cuenta</a>
        <a th:href="@{/cuentas/rfc5}" class="btn btn-primary d-block mb-2">(RF5) Operaciones sobre cuenta</a>
    </div>
    </div>
</body>
</html>
