<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes consulta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    
    <div class="container border border-2 w-25">
        <h1>Clientes</h1>

        <form th:action="@{/cuentas/usuario/ver}" method="post">
            <label class="col-form-label" >Numero de cuenta:</label>
            <input class="form-control" type="text" id="tipoDeDocumento" name="tipoDeDocumento" placeholder="Tipo de Documento" required th:value="${usuario.tipoDeDocumento}" />
    
            <label class="col-form-label" >Monto:</label>
            <input class="form-control" type="text" id="numeroDeDocumento" name="numeroDeDocumento" placeholder="Número de Documento" required th:value="${usuario.numeroDeDocumento}"/>

            <label class="col-form-label" >Tipo:</label>
            <select class="form-control" id="rol" name="rol" required>
                <option value="consignacion_cuenta" th:selected="${usuario.rol eq 'consignacion_cuenta'}"> consignacion_cuenta</option>
                <option value="retiro_cuenta" th:selected="${usuario.rol eq 'retiro_cuenta'}">retiro_cuenta</option>
            </select>

            <input type="submit" value="Guardar" class="btn btn-primary">
        </form>
    </div>
</body>
</html>