<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuentas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container border border-2 w-25">
        <h1>Cuentas</h1>
        <form th:action="@{/cuentas/new/save}" method="post">

            <label class="col-form-label" >Tipo de cuenta:</label>
            <select class="form-control" id="tipoCuenta" name="tipoCuenta" required>
                <option value="afc" th:selected="${cuenta.tipoCuenta eq 'afc'}">afc</option>
                <option value="corriente" th:selected="${cuenta.tipoCuenta eq 'corriente'}">corriente</option>
                <option value="ahorros" th:selected="${cuenta.tipoCuenta eq 'ahorros'}">ahorros</option>
            </select>

            <label class="col-form-label" >Saldo:</label>
            <input class="form-control" type="text" id="saldo" placeholder="saldo" name="saldo" required th:value="${cuenta.saldo}"/>

            <label class="col-form-label" >Fecha de la Ultima Transacción:</label>
            <input class="form-control" type="date" id="fechaUltimaTransaccion" name="fechaUltimaTransaccion" placeholder="fecha Ultima Transaccion" required th:value="${cuenta.fechaUltimaTransaccion}"/>

            <label class="col-form-label" >Tipo documento:</label>
            <input class="form-control" type="text" id="tipoDeDocumento" name="tipoDeDocumento" placeholder="Tipo de Documento" required th:value="${usuario.tipoDeDocumento}" />

            <label class="col-form-label" >Numero documento:</label>
            <input class="form-control" type="text" id="numeroDeDocumento" name="numeroDeDocumento" placeholder="Número de Documento" required th:value="${usuario.numeroDeDocumento}"/>

            <input type="submit" value="Guardar" class="btn btn-primary">
        </form>
    </div>
</body>
</html>