<!DOCTYPE html>
<html>

<head>
    <title>Lista de prestamos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>
    <div class="text-center">
    <h1>Lista de prestamos</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Tipo de documento</th>
                    <th>Numero de documento</th>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>producto id</th>
                    <th>producto Tipo</th>
                </tr>
            </thead>
            <th:block>
                <tr>
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.tipoPrestamo}"></td>
                    <td th:text="${cliente.estadoPrestamo}"></td>
                    <td th:text="${cliente.monto}"></td>
                    <td th:text="${prestamo.interes}"></td>
                    <td th:text="${prestamo.cantidadCuotas}"></td>
                    <td th:text="${prestamo.diaPagoDeCuotas}"></td>

                    <td>
                        <a th:href="@{prestamo/{id}/cerrar(id=${prestamo.id})}"
                        onclick="return confirm('¿Estás seguro de cerrarlo?')">Cerrar</a>
                    </td>
                </tr>
            </th:block>

        </table>
        <div>
            <a th:href='@{/gerente}' class="btn btn-primary">Volver Atrás</a>
        </div>
        <br />

    </div>
</body>

</html>