<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficina Management</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

    <div class="container border border-2 w-25">
        <h1>Oficinas</h1>
        <form th:action="@{/oficinas/oficina/new/save}" method="post">

        <label class="col-form-label" >Nombre :</label>
        <input class="form-control" type="text" id="nombre" name="nombre" placeholder="Nombre" required th:value="${oficina.nombre}" />

        <label class="col-form-label" >Direccion:</label>
        <input class="form-control" type="text" id="direccion" name="direccion" placeholder="Direccion" required th:value="${oficina.direccion}"/>

        <label class="col-form-label" >Cantidad puntos de atencion:</label>
        <input class="form-control" type="text" id="cantidadPuntosDeAtencion" name="cantidadPuntosDeAtencion" placeholder="cantidad Puntos De Atencion" required th:value="${oficina.cantidadPuntosDeAtencion}"/>

        <label class="col-form-label" >Tipo Documento gerente:</label>
        <input class="form-control" type="text" id="gerenteTipoDeDocumento" name="gerenteTipoDeDocumento" placeholder= "Tipo De Documento" required th:value="${usuario.tipoDeDocumento}"/>

        <label class="col-form-label" >Numero Documento gerente:</label>
        <input class="form-control" type="text" id="numeroDeDocumento" name="numeroDeDocumento" placeholder="Numero De Documento" required th:value="${usuario.numeroDeDocumento}"/>

        <input type="submit" value="Guardar" class="btn btn-primary">
        </form>
    </div>
</body>
</html>