<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>- CONSULTAR LAS CUENTAS EN BANCANDES</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">
    <h1>CONSULTAR LAS CUENTAS EN BANCANDES</h1>
    <div>
        <a th:href="@{/cuentas/fecha}" class="btn btn-primary d-block mb-2">Por fecha</a>
        <a th:href="@{/cuentas/saldo}" class="btn btn-primary d-block mb-2">Por saldo</a>
        <a th:href="@{/cuentas/tipo}" class="btn btn-primary d-block mb-2">Por tipo</a>
    </div>
    </div>
</body>
</html>
